projects/market-sentiment/workflow.json
{
  "name": "Market Sentiment Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "market-sentiment",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -100,
        20
      ],
      "webhookId": "market-sentiment",
      "id": "606d4906-e5c3-43bd-bd81-83c0917261e8"
    },
    {
      "parameters": {
        "url": "http://172.18.0.1:5001/sentiment-data",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Read JSON File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        20
      ],
      "id": "78be9be9-a75a-4976-9227-2d14b361c932"
    },
    {
      "parameters": {
        "functionCode": "// Get the JSON data from HTTP Request\nconst fileData = $input.first().json;\nconst timestamp = new Date(fileData.timestamp);\nconst assets = fileData.assets;\n\nconsole.log('Processing', Object.keys(assets).length, 'assets for email');\n\n// Format timestamp\nconst formattedDate = timestamp.toLocaleDateString('en-US', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\nconst formattedTime = timestamp.toLocaleTimeString('en-US', { \n  hour: '2-digit', \n  minute: '2-digit',\n  hour12: true\n});\n\n// Helper function to get sentiment color and emoji\nfunction getSentimentStyle(sentiment) {\n  const styles = {\n    'positive': { color: '#10b981', emoji: '📈', bgColor: '#d1fae5', label: 'Positive' },\n    'negative': { color: '#ef4444', emoji: '📉', bgColor: '#fee2e2', label: 'Negative' },\n    'neutral': { color: '#6b7280', emoji: '➖', bgColor: '#f3f4f6', label: 'Neutral' }\n  };\n  return styles[sentiment.toLowerCase()] || styles['neutral'];\n}\n\n// Helper function to get asset emoji\nfunction getAssetEmoji(assetKey) {\n  const emojis = {\n    'US_SPX': '🇺🇸',\n    'US_NDX': '💻',\n    'HK_HSI': '🇭🇰',\n    'GOLD': '🪙',\n    'BITCOIN': '₿'\n  };\n  return emojis[assetKey] || '📊';\n}\n\n// Build asset cards HTML\nlet assetCardsHtml = '';\nconst assetKeys = Object.keys(assets);\n\nfor (const assetKey of assetKeys) {\n  const asset = assets[assetKey];\n  const emoji = getAssetEmoji(assetKey);\n  \n  // Calculate dominant sentiment\n  const sentiments = asset.sentiment_percentages;\n  let dominantSentiment = 'neutral';\n  let maxPercent = sentiments.neutral;\n  \n  if (sentiments.positive > maxPercent) {\n    dominantSentiment = 'positive';\n    maxPercent = sentiments.positive;\n  }\n  if (sentiments.negative > maxPercent) {\n    dominantSentiment = 'negative';\n    maxPercent = sentiments.negative;\n  }\n  \n  const sentimentStyle = getSentimentStyle(dominantSentiment);\n  \n  // Build article samples\n  let articlesHtml = '';\n  \n  // Group articles by sentiment\n  const positiveArticles = asset.articles.filter(a => a.sentiment === 'Positive').slice(0, 2);\n  const negativeArticles = asset.articles.filter(a => a.sentiment === 'Negative').slice(0, 2);\n  const neutralArticles = asset.articles.filter(a => a.sentiment === 'Neutral').slice(0, 2);\n  \n  // Function to create article HTML\n  const createArticleHtml = (article) => {\n    const style = getSentimentStyle(article.sentiment);\n    const publishedDate = new Date(article.published);\n    const dateStr = publishedDate.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });\n    \n    return `\n      <div style=\"padding: 8px; margin: 4px 0; background: ${style.bgColor}; border-radius: 6px; border-left: 3px solid ${style.color};\">\n        <div style=\"font-size: 11px; color: #6b7280; margin-bottom: 2px;\">\n          ${style.emoji} ${style.label} • ${dateStr}\n        </div>\n        <div style=\"font-size: 12px; color: #1f2937; line-height: 1.3;\">\n          <a href=\"${article.link}\" style=\"color: #1f2937; text-decoration: none;\">${article.title}</a>\n        </div>\n      </div>\n    `;\n  };\n  \n  // Add articles\n  if (positiveArticles.length > 0) {\n    positiveArticles.forEach(article => {\n      articlesHtml += createArticleHtml(article);\n    });\n  }\n  \n  if (negativeArticles.length > 0) {\n    negativeArticles.forEach(article => {\n      articlesHtml += createArticleHtml(article);\n    });\n  }\n  \n  if (neutralArticles.length > 0 && (positiveArticles.length + negativeArticles.length < 3)) {\n    neutralArticles.slice(0, 3 - positiveArticles.length - negativeArticles.length).forEach(article => {\n      articlesHtml += createArticleHtml(article);\n    });\n  }\n  \n  // Create asset card\n  assetCardsHtml += `\n    <div style=\"background: white; border-radius: 12px; padding: 20px; margin-bottom: 20px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n      <div style=\"display: flex; align-items: center; margin-bottom: 16px;\">\n        <div style=\"font-size: 32px; margin-right: 12px;\">${emoji}</div>\n        <div>\n          <h2 style=\"margin: 0; font-size: 20px; color: #1f2937;\">${asset.name}</h2>\n          <div style=\"font-size: 13px; color: #6b7280; margin-top: 4px;\">\n            ${asset.total_articles} articles analyzed\n          </div>\n        </div>\n      </div>\n      \n      <div style=\"display: flex; gap: 10px; margin-bottom: 16px;\">\n        <div style=\"flex: 1; background: #d1fae5; padding: 12px; border-radius: 8px; text-align: center;\">\n          <div style=\"font-size: 24px; font-weight: bold; color: #10b981;\">\n            ${sentiments.positive.toFixed(1)}%\n          </div>\n          <div style=\"font-size: 12px; color: #059669; margin-top: 4px;\">📈 Positive</div>\n          <div style=\"font-size: 11px; color: #6b7280; margin-top: 2px;\">${asset.sentiment_counts.positive} articles</div>\n        </div>\n        \n        <div style=\"flex: 1; background: #fee2e2; padding: 12px; border-radius: 8px; text-align: center;\">\n          <div style=\"font-size: 24px; font-weight: bold; color: #ef4444;\">\n            ${sentiments.negative.toFixed(1)}%\n          </div>\n          <div style=\"font-size: 12px; color: #dc2626; margin-top: 4px;\">📉 Negative</div>\n          <div style=\"font-size: 11px; color: #6b7280; margin-top: 2px;\">${asset.sentiment_counts.negative} articles</div>\n        </div>\n        \n        <div style=\"flex: 1; background: #f3f4f6; padding: 12px; border-radius: 8px; text-align: center;\">\n          <div style=\"font-size: 24px; font-weight: bold; color: #6b7280;\">\n            ${sentiments.neutral.toFixed(1)}%\n          </div>\n          <div style=\"font-size: 12px; color: #4b5563; margin-top: 4px;\">➖ Neutral</div>\n          <div style=\"font-size: 11px; color: #6b7280; margin-top: 2px;\">${asset.sentiment_counts.neutral} articles</div>\n        </div>\n      </div>\n      \n      <div style=\"background: ${sentimentStyle.bgColor}; padding: 12px; border-radius: 8px; margin-bottom: 12px;\">\n        <div style=\"font-size: 14px; font-weight: 600; color: ${sentimentStyle.color}; margin-bottom: 4px;\">\n          ${sentimentStyle.emoji} Market Sentiment: ${sentimentStyle.label.toUpperCase()}\n        </div>\n        <div style=\"font-size: 12px; color: #6b7280;\">\n          Based on ${asset.total_articles} news articles (${asset.duplicate_count} duplicates removed)\n        </div>\n      </div>\n      \n      <div style=\"margin-top: 12px;\">\n        <div style=\"font-size: 13px; font-weight: 600; color: #4b5563; margin-bottom: 8px;\">📰 Recent Headlines:</div>\n        ${articlesHtml}\n      </div>\n    </div>\n  `;\n}\n\n// Calculate overall market sentiment\nlet totalPositive = 0;\nlet totalNegative = 0;\nlet totalNeutral = 0;\nlet totalArticles = 0;\n\nfor (const assetKey of assetKeys) {\n  const asset = assets[assetKey];\n  totalPositive += asset.sentiment_counts.positive;\n  totalNegative += asset.sentiment_counts.negative;\n  totalNeutral += asset.sentiment_counts.neutral;\n  totalArticles += asset.total_articles;\n}\n\nconst overallPositivePct = ((totalPositive / totalArticles) * 100).toFixed(1);\nconst overallNegativePct = ((totalNegative / totalArticles) * 100).toFixed(1);\nconst overallNeutralPct = ((totalNeutral / totalArticles) * 100).toFixed(1);\n\nlet overallSentiment = 'neutral';\nlet overallSentimentPct = parseFloat(overallNeutralPct);\n\nif (parseFloat(overallPositivePct) > overallSentimentPct) {\n  overallSentiment = 'positive';\n  overallSentimentPct = parseFloat(overallPositivePct);\n}\nif (parseFloat(overallNegativePct) > overallSentimentPct) {\n  overallSentiment = 'negative';\n  overallSentimentPct = parseFloat(overallNegativePct);\n}\n\nconst overallStyle = getSentimentStyle(overallSentiment);\n\n// Build complete HTML email\nconst htmlContent = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Market Sentiment Analysis Report</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; background: #f9fafb;\">\n  <div style=\"max-width: 700px; margin: 0 auto; padding: 20px;\">\n    \n    <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); border-radius: 12px; padding: 30px; margin-bottom: 24px; text-align: center; color: white;\">\n      <h1 style=\"margin: 0 0 8px 0; font-size: 28px; font-weight: 700;\">📊 Market Sentiment Analysis</h1>\n      <div style=\"font-size: 15px; opacity: 0.95; margin-bottom: 16px;\">\n        ${formattedDate} • ${formattedTime}\n      </div>\n      <div style=\"background: rgba(255,255,255,0.2); backdrop-filter: blur(10px); border-radius: 8px; padding: 16px; margin-top: 16px;\">\n        <div style=\"font-size: 14px; opacity: 0.9; margin-bottom: 8px;\">Overall Market Sentiment</div>\n        <div style=\"font-size: 36px; font-weight: bold; margin-bottom: 4px;\">\n          ${overallStyle.emoji} ${overallStyle.label.toUpperCase()}\n        </div>\n        <div style=\"font-size: 13px; opacity: 0.85;\">\n          ${totalArticles} total articles analyzed across 5 asset classes\n        </div>\n      </div>\n    </div>\n    \n    <div style=\"background: white; border-radius: 12px; padding: 20px; margin-bottom: 24px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n      <h3 style=\"margin: 0 0 16px 0; font-size: 16px; color: #1f2937;\">📈 Overall Market Statistics</h3>\n      <div style=\"display: flex; gap: 12px;\">\n        <div style=\"flex: 1; background: #d1fae5; padding: 16px; border-radius: 8px; text-align: center;\">\n          <div style=\"font-size: 28px; font-weight: bold; color: #10b981;\">${overallPositivePct}%</div>\n          <div style=\"font-size: 12px; color: #059669; margin-top: 4px;\">Positive</div>\n          <div style=\"font-size: 11px; color: #6b7280; margin-top: 2px;\">${totalPositive} articles</div>\n        </div>\n        <div style=\"flex: 1; background: #fee2e2; padding: 16px; border-radius: 8px; text-align: center;\">\n          <div style=\"font-size: 28px; font-weight: bold; color: #ef4444;\">${overallNegativePct}%</div>\n          <div style=\"font-size: 12px; color: #dc2626; margin-top: 4px;\">Negative</div>\n          <div style=\"font-size: 11px; color: #6b7280; margin-top: 2px;\">${totalNegative} articles</div>\n        </div>\n        <div style=\"flex: 1; background: #f3f4f6; padding: 16px; border-radius: 8px; text-align: center;\">\n          <div style=\"font-size: 28px; font-weight: bold; color: #6b7280;\">${overallNeutralPct}%</div>\n          <div style=\"font-size: 12px; color: #4b5563; margin-top: 4px;\">Neutral</div>\n          <div style=\"font-size: 11px; color: #6b7280; margin-top: 2px;\">${totalNeutral} articles</div>\n        </div>\n      </div>\n    </div>\n    \n    <div style=\"margin-bottom: 24px;\">\n      <h3 style=\"margin: 0 0 16px 0; font-size: 16px; color: #1f2937; background: white; padding: 12px 20px; border-radius: 12px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n        🎯 Asset Class Analysis\n      </h3>\n      ${assetCardsHtml}\n    </div>\n    \n    <div style=\"background: white; border-radius: 12px; padding: 20px; text-align: center; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n      <div style=\"font-size: 13px; color: #6b7280; line-height: 1.6;\">\n        <strong style=\"color: #1f2937;\">📌 Disclaimer:</strong> This automated sentiment analysis is for informational purposes only.<br>\n        It does not constitute financial advice. Please consult a licensed financial advisor before making investment decisions.\n      </div>\n      <div style=\"margin-top: 16px; padding-top: 16px; border-top: 1px solid #e5e7eb; font-size: 12px; color: #9ca3af;\">\n        Powered by FinBERT AI • Google News RSS • n8n Workflow Automation<br>\n        Generated: ${formattedDate} ${formattedTime}\n      </div>\n    </div>\n    \n  </div>\n</body>\n</html>\n`;\n\nconsole.log('Email HTML generated successfully');\n\n// Return formatted data for email\nreturn [{\n  json: {\n    subject: `📊 Market Sentiment Analysis - ${formattedDate}`,\n    body: htmlContent,\n    timestamp: fileData.timestamp,\n    totalArticles: totalArticles,\n    overallSentiment: overallSentiment\n  }\n}];"
      },
      "name": "Format Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        300,
        20
      ],
      "id": "e3b3a458-596d-4714-8753-01f0bb75bf9b"
    },
    {
      "parameters": {
        "fromEmail": "jcalgossignal@gmail.com",
        "toEmail": "jcalgossignal@gmail.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.body }}",
        "options": {
          "bccEmail": "jasonckb@yahoo.com.hk"
        }
      },
      "name": "Send Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        500,
        20
      ],
      "id": "b74605dd-edf5-4e98-990e-c5314015ad7e",
      "webhookId": "2be08b31-e31f-4826-a7ad-c866559aa94d",
      "credentials": {
        "smtp": {
          "id": "o6iZqMCLJ0LXsMmF",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Market Sentiment Analysis email sent successfully\", \"timestamp\": $json.timestamp, \"totalArticles\": $json.totalArticles, \"overallSentiment\": $json.overallSentiment } }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        20
      ],
      "id": "c3987038-a422-4635-b50f-a2929204a5ba"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read JSON File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read JSON File": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Report": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "60354aad-09bd-43d9-8cb4-b712d33389a6",
  "meta": {
    "instanceId": "cd643ad0ef81fb65209ba5f2f31df79341f4d5d9c16bf0d19370cfd83131ab53"
  },
  "tags": []
}
